

*{
    font-family: 'Poppins', sans-serif;
    padding: 0px;
    margin: 0px;
}
#container{
    width: 88%;
    margin: auto;
    height: auto;
       
}
#container>h1{
    margin-bottom: 60px;
    font-family: 'Poppins', sans-serif;
}
#main{
    display: flex;
    gap: 20px;
    justify-content: space-between;
}

#check{
    height: 200px;
    width:400px;
    background-color: #f7f7f7;
     padding: 20px; 

}
#check>button{
    width: 100%;
    
    height: 50px;
    margin-bottom: 15px;
    border-radius: 5px;
    border: none;
    color: aliceblue;
    font-family: 'Poppins', sans-serif;
}
#check>button:nth-child(2){
    background-color: rgb(52,52,52);
}
#check>button:nth-child(3){
    background-color: #e5b95f;
   
}
#qty{
    width: 55px;
    height: 30px;
    margin-right: 20px;
    margin-left: 30px;
    text-align: center;
}
#td1{
    margin-right: 30px;
    width: 200px;
    
}
#checkprice{
    display: flex;
    justify-content: space-between;
}
.material-symbols-outlined {
    font-variation-settings:
    'FILL' 0,
    'wght' 400,
    'GRAD' 0,
    'opsz' 48;
    margin-top: 36px;
    margin-left: 20px;
  }
